interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1/sys/health
  response:
    body: {string: '{"initialized":true,"sealed":false,"standby":false,"performance_standby":false,"replication_performance_mode":"disabled","replication_dr_mode":"disabled","server_time_utc":1568808534,"version":"1.1.2","cluster_name":"vault-cluster-eba4a26a","cluster_id":"df107efd-43e2-b4a0-a0ac-939e3cead978"}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Vault-Token: [s.TnEOkvdIV2jQFICTamBaGAZb]
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1/auth/approle/role/my-role/role-id
  response:
    body: {string: '{"request_id":"050dbe77-bee7-ef80-404b-d604ada5fad3","lease_id":"","renewable":false,"lease_duration":0,"data":{"role_id":"522d06bf-1242-d168-c275-c3d597bf0513"},"wrap_info":null,"warnings":null,"auth":null}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Vault-Token: [s.TnEOkvdIV2jQFICTamBaGAZb]
    method: POST
    uri: https://hc-vault.pamint.balabit:8200/v1/auth/approle/role/my-role/secret-id
  response:
    body: {string: '{"request_id":"a96cac28-0de5-d8a7-2735-8db5505be3e8","lease_id":"","renewable":false,"lease_duration":0,"data":{"secret_id":"9bbe2aee-da19-017d-0719-f11df5e77846","secret_id_accessor":"7cf7588b-52cf-fcde-8a20-be0bbb28e526"},"wrap_info":null,"warnings":null,"auth":null}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"role_id": "522d06bf-1242-d168-c275-c3d597bf0513", "secret_id": "9bbe2aee-da19-017d-0719-f11df5e77846"}'
    headers:
      X-Vault-Token: [s.TnEOkvdIV2jQFICTamBaGAZb]
    method: POST
    uri: https://hc-vault.pamint.balabit:8200/v1/auth/approle/login
  response:
    body: {string: '{"request_id":"1f59385d-33ee-3426-c459-01e9099367de","lease_id":"","renewable":false,"lease_duration":0,"data":null,"wrap_info":null,"warnings":null,"auth":{"client_token":"s.5BAURQG3h1OE9VT6SD2KaMDu","accessor":"10WNGN9H5AglEXsiQzStQDBq","policies":["default","kv_admins"],"token_policies":["default","kv_admins"],"metadata":{"role_name":"my-role"},"lease_duration":1200,"renewable":true,"entity_id":"96a80de5-fe30-8a8b-d6b0-c075eb03ec83","token_type":"service","orphan":true}}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Vault-Token: [s.5BAURQG3h1OE9VT6SD2KaMDu]
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1//passwords/users
  response:
    body: {string: '<a href="/v1/passwords/users">Moved Permanently</a>.


        '}
    headers:
      Content-Type: [text/html; charset=utf-8]
      Location: [/v1/passwords/users]
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
      X-Vault-Token: [s.5BAURQG3h1OE9VT6SD2KaMDu]
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1/passwords/users
  response:
    body: {string: '{"request_id":"9e19cb4c-f63a-57fd-3ffc-d474b43b41a2","lease_id":"","renewable":false,"lease_duration":2764800,"data":{"root":"titkos","user_with_key":"-----BEGIN
        RSA PRIVATE KEY-----\nmy key\n-----END RSA PRIVATE KEY-----","user_with_not_supported_key":"-----BEGIN
        UNSUPPORTED PRIVATE KEY-----\nmy key\n-----END UNSUPPORTED PRIVATE KEY-----","wsmith":"titkos"},"wrap_info":null,"warnings":null,"auth":null}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
