interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1/sys/health
  response:
    body: {string: '{"initialized":true,"sealed":false,"standby":false,"performance_standby":false,"replication_performance_mode":"disabled","replication_dr_mode":"disabled","server_time_utc":1568647530,"version":"1.1.2","cluster_name":"vault-cluster-eba4a26a","cluster_id":"df107efd-43e2-b4a0-a0ac-939e3cead978"}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"password": "titkos"}'
    headers:
    method: POST
    uri: https://hc-vault.pamint.balabit:8200/v1/auth/userpass/login/hc_local_user
  response:
    body: {string: '{"request_id":"864db8f0-5b81-4ef4-d470-d93a90522395","lease_id":"","renewable":false,"lease_duration":0,"data":null,"wrap_info":null,"warnings":null,"auth":{"client_token":"s.lhMyK1bf01AAPosyhVUWbLhS","accessor":"oZtjgYC2kihYrWHdkJRKRUHl","policies":["default","kv_admins"],"token_policies":["default","kv_admins"],"metadata":{"username":"hc_local_user"},"lease_duration":2764800,"renewable":true,"entity_id":"812390b6-8e55-a189-12b8-e3a7f0150d1d","token_type":"service","orphan":true}}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Vault-Token: [s.lhMyK1bf01AAPosyhVUWbLhS]
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1//passwords/users
  response:
    body: {string: '<a href="/v1/passwords/users">Moved Permanently</a>.


        '}
    headers:
      Content-Type: [text/html; charset=utf-8]
      Location: [/v1/passwords/users]
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
      X-Vault-Token: [s.lhMyK1bf01AAPosyhVUWbLhS]
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1/passwords/users
  response:
    body: {string: '{"request_id":"3d9e05b5-d2e5-68df-6083-76a54cfc4ca3","lease_id":"","renewable":false,"lease_duration":2764800,"data":{"root":"titkos","wsmith":"titkos"},"wrap_info":null,"warnings":null,"auth":null}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
