interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1/sys/health
  response:
    body: {string: '{"initialized":true,"sealed":false,"standby":false,"performance_standby":false,"replication_performance_mode":"disabled","replication_dr_mode":"disabled","server_time_utc":1568893215,"version":"1.1.2","cluster_name":"vault-cluster-eba4a26a","cluster_id":"df107efd-43e2-b4a0-a0ac-939e3cead978"}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"password": "titkos"}'
    headers:
    method: POST
    uri: https://hc-vault.pamint.balabit:8200/v1/auth/userpass/login/hc_local_user
  response:
    body: {string: '{"request_id":"079dc72a-aa0a-f6b2-e64f-46594a2db371","lease_id":"","renewable":false,"lease_duration":0,"data":null,"wrap_info":null,"warnings":null,"auth":{"client_token":"s.GjT1K7i7Su5073mxD1Fwh47k","accessor":"BnpDlwbmAARUSULS0AuK216r","policies":["default","kv_admins"],"token_policies":["default","kv_admins"],"metadata":{"username":"hc_local_user"},"lease_duration":2764800,"renewable":true,"entity_id":"812390b6-8e55-a189-12b8-e3a7f0150d1d","token_type":"service","orphan":true}}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Vault-Token: [s.GjT1K7i7Su5073mxD1Fwh47k]
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1//passwords/users
  response:
    body: {string: '<a href="/v1/passwords/users">Moved Permanently</a>.


        '}
    headers:
      Content-Type: [text/html; charset=utf-8]
      Location: [/v1/passwords/users]
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
      X-Vault-Token: [s.GjT1K7i7Su5073mxD1Fwh47k]
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1/passwords/users
  response:
    body: {string: '{"request_id":"98606835-157d-b085-95e9-85893974768c","lease_id":"","renewable":false,"lease_duration":2764800,"data":{"root":"titkos","user_with_key":"-----BEGIN
        RSA PRIVATE KEY-----\nmy key\n-----END RSA PRIVATE KEY-----","user_with_not_supported_key":"-----BEGIN
        UNSUPPORTED PRIVATE KEY-----\nmy key\n-----END UNSUPPORTED PRIVATE KEY-----","wsmith":"titkos"},"wrap_info":null,"warnings":null,"auth":null}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
