interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1/sys/health
  response:
    body: {string: '{"initialized":true,"sealed":false,"standby":false,"performance_standby":false,"replication_performance_mode":"disabled","replication_dr_mode":"disabled","server_time_utc":1568893215,"version":"1.1.2","cluster_name":"vault-cluster-eba4a26a","cluster_id":"df107efd-43e2-b4a0-a0ac-939e3cead978"}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Vault-Token: [s.TnEOkvdIV2jQFICTamBaGAZb]
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1/auth/approle/role/my-role/role-id
  response:
    body: {string: '{"request_id":"33fa9af3-0a50-731b-5565-f128948ab311","lease_id":"","renewable":false,"lease_duration":0,"data":{"role_id":"522d06bf-1242-d168-c275-c3d597bf0513"},"wrap_info":null,"warnings":null,"auth":null}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Vault-Token: [s.TnEOkvdIV2jQFICTamBaGAZb]
    method: POST
    uri: https://hc-vault.pamint.balabit:8200/v1/auth/approle/role/my-role/secret-id
  response:
    body: {string: '{"request_id":"a0bce99b-3838-adc2-b3aa-3ba65185cb9e","lease_id":"","renewable":false,"lease_duration":0,"data":{"secret_id":"06a07e7d-7741-096e-fa39-dd731d6bebf5","secret_id_accessor":"f5af2acf-c22a-7905-b989-1e6f7fb9064d"},"wrap_info":null,"warnings":null,"auth":null}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"role_id": "522d06bf-1242-d168-c275-c3d597bf0513", "secret_id": "06a07e7d-7741-096e-fa39-dd731d6bebf5"}'
    headers:
      X-Vault-Token: [s.TnEOkvdIV2jQFICTamBaGAZb]
    method: POST
    uri: https://hc-vault.pamint.balabit:8200/v1/auth/approle/login
  response:
    body: {string: '{"request_id":"46de142d-0e4b-87ba-e5a4-f27a8228a069","lease_id":"","renewable":false,"lease_duration":0,"data":null,"wrap_info":null,"warnings":null,"auth":{"client_token":"s.B8qjFOE1zA7Kc9ZxV9LRtbuB","accessor":"mGRhfzHuCT9b3vHHeUuIY46Q","policies":["default","kv_admins"],"token_policies":["default","kv_admins"],"metadata":{"role_name":"my-role"},"lease_duration":1200,"renewable":true,"entity_id":"96a80de5-fe30-8a8b-d6b0-c075eb03ec83","token_type":"service","orphan":true}}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Vault-Token: [s.B8qjFOE1zA7Kc9ZxV9LRtbuB]
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1//passwords/users
  response:
    body: {string: '<a href="/v1/passwords/users">Moved Permanently</a>.


        '}
    headers:
      Content-Type: [text/html; charset=utf-8]
      Location: [/v1/passwords/users]
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
      X-Vault-Token: [s.B8qjFOE1zA7Kc9ZxV9LRtbuB]
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1/passwords/users
  response:
    body: {string: '{"request_id":"a6489e9b-b2d4-a03d-537a-aaf28378106b","lease_id":"","renewable":false,"lease_duration":2764800,"data":{"root":"titkos","user_with_key":"-----BEGIN
        RSA PRIVATE KEY-----\nmy key\n-----END RSA PRIVATE KEY-----","user_with_not_supported_key":"-----BEGIN
        UNSUPPORTED PRIVATE KEY-----\nmy key\n-----END UNSUPPORTED PRIVATE KEY-----","wsmith":"titkos"},"wrap_info":null,"warnings":null,"auth":null}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
