interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1/sys/health
  response:
    body: {string: '{"initialized":true,"sealed":false,"standby":false,"performance_standby":false,"replication_performance_mode":"disabled","replication_dr_mode":"disabled","server_time_utc":1568647530,"version":"1.1.2","cluster_name":"vault-cluster-eba4a26a","cluster_id":"df107efd-43e2-b4a0-a0ac-939e3cead978"}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"password": "Titkos12"}'
    headers:
    method: POST
    uri: https://hc-vault.pamint.balabit:8200/v1/auth/ldap/login/hashicorp%20user1
  response:
    body: {string: '{"request_id":"72a3d74a-fa0a-b9bc-f8ee-f8bc5a693b63","lease_id":"","renewable":false,"lease_duration":0,"data":{},"wrap_info":null,"warnings":null,"auth":{"client_token":"s.6jomHZxFhNzud0o0VClE82yx","accessor":"AiZzFlwwkQUzMQP2enWjrEl8","policies":["default","kv_admins"],"token_policies":["default","kv_admins"],"metadata":{"username":"hashicorp
        user1"},"lease_duration":2764800,"renewable":true,"entity_id":"8e6a06f3-45f0-0196-0778-be0009543f0f","token_type":"service","orphan":true}}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Vault-Token: [s.6jomHZxFhNzud0o0VClE82yx]
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1//passwords/users
  response:
    body: {string: '<a href="/v1/passwords/users">Moved Permanently</a>.


        '}
    headers:
      Content-Type: [text/html; charset=utf-8]
      Location: [/v1/passwords/users]
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
      X-Vault-Token: [s.6jomHZxFhNzud0o0VClE82yx]
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1/passwords/users
  response:
    body: {string: '{"request_id":"757e8b7c-e567-15c3-6f0e-4c24c0582b6e","lease_id":"","renewable":false,"lease_duration":2764800,"data":{"root":"titkos","wsmith":"titkos"},"wrap_info":null,"warnings":null,"auth":null}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
