interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1/sys/health
  response:
    body: {string: '{"initialized":true,"sealed":false,"standby":false,"performance_standby":false,"replication_performance_mode":"disabled","replication_dr_mode":"disabled","server_time_utc":1568893217,"version":"1.1.2","cluster_name":"vault-cluster-eba4a26a","cluster_id":"df107efd-43e2-b4a0-a0ac-939e3cead978"}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Vault-Token: [s.TnEOkvdIV2jQFICTamBaGAZb]
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1/auth/approle/role/my-role/role-id
  response:
    body: {string: '{"request_id":"0f701eb0-09c0-1639-e402-409e7c53d422","lease_id":"","renewable":false,"lease_duration":0,"data":{"role_id":"522d06bf-1242-d168-c275-c3d597bf0513"},"wrap_info":null,"warnings":null,"auth":null}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Vault-Token: [s.TnEOkvdIV2jQFICTamBaGAZb]
    method: POST
    uri: https://hc-vault.pamint.balabit:8200/v1/auth/approle/role/my-role/secret-id
  response:
    body: {string: '{"request_id":"4f8a037e-0fa1-ce29-92bc-68d5e6170b3f","lease_id":"","renewable":false,"lease_duration":0,"data":{"secret_id":"c43a3f9b-2ad7-2abd-c6ec-9c8e022c85e2","secret_id_accessor":"e44e721f-93af-5867-49e8-c89be66000f0"},"wrap_info":null,"warnings":null,"auth":null}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"role_id": "522d06bf-1242-d168-c275-c3d597bf0513", "secret_id": "c43a3f9b-2ad7-2abd-c6ec-9c8e022c85e2"}'
    headers:
      X-Vault-Token: [s.TnEOkvdIV2jQFICTamBaGAZb]
    method: POST
    uri: https://hc-vault.pamint.balabit:8200/v1/auth/approle/login
  response:
    body: {string: '{"request_id":"4883c33c-d141-4af4-30bc-f58a89bfbcd8","lease_id":"","renewable":false,"lease_duration":0,"data":null,"wrap_info":null,"warnings":null,"auth":{"client_token":"s.75CMndqdQHpw9zg0TX9UiVyQ","accessor":"W0FYjXHyuZpGZEh2BoJIwmdQ","policies":["default","kv_admins"],"token_policies":["default","kv_admins"],"metadata":{"role_name":"my-role"},"lease_duration":1200,"renewable":true,"entity_id":"96a80de5-fe30-8a8b-d6b0-c075eb03ec83","token_type":"service","orphan":true}}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Vault-Token: [s.75CMndqdQHpw9zg0TX9UiVyQ]
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1//passwords/users
  response:
    body: {string: '<a href="/v1/passwords/users">Moved Permanently</a>.


        '}
    headers:
      Content-Type: [text/html; charset=utf-8]
      Location: [/v1/passwords/users]
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
      X-Vault-Token: [s.75CMndqdQHpw9zg0TX9UiVyQ]
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1/passwords/users
  response:
    body: {string: '{"request_id":"3ce6a30c-c11e-ed88-9f9e-1012a3f51c44","lease_id":"","renewable":false,"lease_duration":2764800,"data":{"root":"titkos","user_with_key":"-----BEGIN
        RSA PRIVATE KEY-----\nmy key\n-----END RSA PRIVATE KEY-----","user_with_not_supported_key":"-----BEGIN
        UNSUPPORTED PRIVATE KEY-----\nmy key\n-----END UNSUPPORTED PRIVATE KEY-----","wsmith":"titkos"},"wrap_info":null,"warnings":null,"auth":null}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
