interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1/sys/health
  response:
    body: {string: '{"initialized":true,"sealed":false,"standby":false,"performance_standby":false,"replication_performance_mode":"disabled","replication_dr_mode":"disabled","server_time_utc":1569403177,"version":"1.1.2","cluster_name":"vault-cluster-eba4a26a","cluster_id":"df107efd-43e2-b4a0-a0ac-939e3cead978"}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"password": "Titkos12"}'
    headers:
    method: POST
    uri: https://hc-vault.pamint.balabit:8200/v1/auth/ldap/login/hashicorp%20user1
  response:
    body: {string: '{"request_id":"b2a137d7-953b-bdc6-c85c-944f09104bfb","lease_id":"","renewable":false,"lease_duration":0,"data":{},"wrap_info":null,"warnings":null,"auth":{"client_token":"s.Kk8duV9Dp5VwjzVmvZciqKT8","accessor":"6HLNzJoibN4YCAlcxnHuJ8hZ","policies":["default","kv_admins"],"token_policies":["default","kv_admins"],"metadata":{"username":"hashicorp
        user1"},"lease_duration":2764800,"renewable":true,"entity_id":"8e6a06f3-45f0-0196-0778-be0009543f0f","token_type":"service","orphan":true}}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Vault-Token: [s.Kk8duV9Dp5VwjzVmvZciqKT8]
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1/passwords/wsmith
  response:
    body: {string: '{"request_id":"46a4ea06-4bd6-3a2b-79ce-f4e2dd2b3cfb","lease_id":"","renewable":false,"lease_duration":2764800,"data":{"key":"-----BEGIN
        RSA PRIVATE KEY-----\nmy key\n-----END RSA PRIVATE KEY-----","password":"titkos","unsupported_key":"-----BEGIN
        NOT SUPPORTED PRIVATE KEY-----\nmy key\n-----END NOT SUPPORTED PRIVATE KEY-----"},"wrap_info":null,"warnings":null,"auth":null}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
