interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1/sys/health
  response:
    body: {string: '{"initialized":true,"sealed":false,"standby":false,"performance_standby":false,"replication_performance_mode":"disabled","replication_dr_mode":"disabled","server_time_utc":1568890529,"version":"1.1.2","cluster_name":"vault-cluster-eba4a26a","cluster_id":"df107efd-43e2-b4a0-a0ac-939e3cead978"}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"password": "titkos"}'
    headers:
    method: POST
    uri: https://hc-vault.pamint.balabit:8200/v1/auth/userpass/login/hc_local_user
  response:
    body: {string: '{"request_id":"726310f8-9e50-57d8-6486-02bc55ed7034","lease_id":"","renewable":false,"lease_duration":0,"data":null,"wrap_info":null,"warnings":null,"auth":{"client_token":"s.y3KgXISucWyUpa6YCn1WRZ2h","accessor":"W5LJDIwKpZnLnU9Jk67bLs1S","policies":["default","kv_admins"],"token_policies":["default","kv_admins"],"metadata":{"username":"hc_local_user"},"lease_duration":2764800,"renewable":true,"entity_id":"812390b6-8e55-a189-12b8-e3a7f0150d1d","token_type":"service","orphan":true}}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Vault-Token: [s.y3KgXISucWyUpa6YCn1WRZ2h]
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1/passwords/wsmith
  response:
    body: {string: '{"request_id":"d5b670d4-055d-fe95-830e-c560be88ccb2","lease_id":"","renewable":false,"lease_duration":2764800,"data":{"key":"-----BEGIN
        RSA PRIVATE KEY-----\nmy key\n-----END RSA PRIVATE KEY-----","password":"titkos","unsupported_key":"-----BEGIN
        NOT SUPPORTED PRIVATE KEY-----\nmy key\n-----END NOT SUPPORTED PRIVATE KEY-----"},"wrap_info":null,"warnings":null,"auth":null}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
