interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1/sys/health
  response:
    body: {string: '{"initialized":true,"sealed":false,"standby":false,"performance_standby":false,"replication_performance_mode":"disabled","replication_dr_mode":"disabled","server_time_utc":1568890529,"version":"1.1.2","cluster_name":"vault-cluster-eba4a26a","cluster_id":"df107efd-43e2-b4a0-a0ac-939e3cead978"}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"password": "Titkos12"}'
    headers:
    method: POST
    uri: https://hc-vault.pamint.balabit:8200/v1/auth/ldap/login/hashicorp%20user1
  response:
    body: {string: '{"request_id":"fab6c775-9c96-f0a5-5b0c-fee648d1df83","lease_id":"","renewable":false,"lease_duration":0,"data":{},"wrap_info":null,"warnings":null,"auth":{"client_token":"s.HKO1BH0e2bCxm1cr9a6SAeSk","accessor":"iA47vOFpXmHC5bDTKimhZ7VV","policies":["default","kv_admins"],"token_policies":["default","kv_admins"],"metadata":{"username":"hashicorp
        user1"},"lease_duration":2764800,"renewable":true,"entity_id":"8e6a06f3-45f0-0196-0778-be0009543f0f","token_type":"service","orphan":true}}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Vault-Token: [s.HKO1BH0e2bCxm1cr9a6SAeSk]
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1/passwords/wsmith
  response:
    body: {string: '{"request_id":"307350f4-a2fa-3bfa-e4fc-fe56bf2ceac3","lease_id":"","renewable":false,"lease_duration":2764800,"data":{"key":"-----BEGIN
        RSA PRIVATE KEY-----\nmy key\n-----END RSA PRIVATE KEY-----","password":"titkos","unsupported_key":"-----BEGIN
        NOT SUPPORTED PRIVATE KEY-----\nmy key\n-----END NOT SUPPORTED PRIVATE KEY-----"},"wrap_info":null,"warnings":null,"auth":null}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
