interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1/sys/health
  response:
    body: {string: '{"initialized":true,"sealed":false,"standby":false,"performance_standby":false,"replication_performance_mode":"disabled","replication_dr_mode":"disabled","server_time_utc":1569611456,"version":"1.1.2","cluster_name":"vault-cluster-eba4a26a","cluster_id":"df107efd-43e2-b4a0-a0ac-939e3cead978"}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Vault-Token: [s.TnEOkvdIV2jQFICTamBaGAZb]
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1/auth/approle/role/my-role/role-id
  response:
    body: {string: '{"request_id":"f152461f-6431-b37c-e611-a6440db8fc3f","lease_id":"","renewable":false,"lease_duration":0,"data":{"role_id":"522d06bf-1242-d168-c275-c3d597bf0513"},"wrap_info":null,"warnings":null,"auth":null}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Vault-Token: [s.TnEOkvdIV2jQFICTamBaGAZb]
    method: POST
    uri: https://hc-vault.pamint.balabit:8200/v1/auth/approle/role/my-role/secret-id
  response:
    body: {string: '{"request_id":"8275b905-5332-336f-a496-064780b04c94","lease_id":"","renewable":false,"lease_duration":0,"data":{"secret_id":"b22cc3ff-a8d0-2d74-366d-9b7274450d9b","secret_id_accessor":"3ad86e98-73f7-8dbf-c59c-c46df5c62b06"},"wrap_info":null,"warnings":null,"auth":null}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"role_id": "522d06bf-1242-d168-c275-c3d597bf0513", "secret_id": "b22cc3ff-a8d0-2d74-366d-9b7274450d9b"}'
    headers:
      X-Vault-Token: [s.TnEOkvdIV2jQFICTamBaGAZb]
    method: POST
    uri: https://hc-vault.pamint.balabit:8200/v1/auth/approle/login
  response:
    body: {string: '{"request_id":"378043eb-fb40-40ac-c36e-5dfef9b41c5e","lease_id":"","renewable":false,"lease_duration":0,"data":null,"wrap_info":null,"warnings":null,"auth":{"client_token":"s.6RHPCLjr9mBk3wSrWIxdr8HY","accessor":"cEmSwF9HLAGAka8UBQu3o14S","policies":["default","kv_admins"],"token_policies":["default","kv_admins"],"metadata":{"role_name":"my-role"},"lease_duration":1200,"renewable":true,"entity_id":"96a80de5-fe30-8a8b-d6b0-c075eb03ec83","token_type":"service","orphan":true}}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Vault-Token: [s.6RHPCLjr9mBk3wSrWIxdr8HY]
    method: GET
    uri: https://hc-vault.pamint.balabit:8200/v1/does/not/exist/wsmith
  response:
    body: {string: '{"errors":["1 error occurred:\n\t* permission denied\n\n"]}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 403, message: Forbidden}
version: 1
