[hashicorp-vault]
# The address or hostname of the Hashicorp Vault.
; address=<address>

# Port of the Hashicorp Vault.
# Default is 8200.
; port=8200

; authentication_method=[ldap, userpass, x509]

; use_credential=explict/gateway

; ldap_username=

; username=

[approle-authentication]
# Name of role for AppRole authentication.
# Make sure the role has a policy set to have permission to
# read the endpoint set in secrets_path.
; role=<role-name>

# Access token to the vault.
# You should generate a token with permissions to read
# the approle endpoint (v1/auth/approle/role/*), or you
# can use the root token, but it is ill advised to do so.
; vault_token=<token>

[engine-kv-v1]
# Path of endpoint where the users and passwords are stored
# as secrets (key: username, value: password).
# e.g. secrets/users
; secrets_path=<path>

###### Common plugin options ######
# To enable or change a parameter, uncomment its line by removing the ';'
# character and replacing the right side of '=' with the desired value.
# If the parameter has the following structure
# ; name=<value>
# then the related option is turned off until you replace '<value>'.
#
# If the parameter has the following structure
# ; name=value
# then the related option is is automatically turned on with the default value
# of 'value'.
#
# To handle sensitive data, you can use a local Credential Store to retrieve
# parameters from.
# Enter the name of the local Credential Store (Policies > Credential Store) as
# the value of the 'name' parameter in section [credential_store]. To retrieve a
# parameter from this Credential Store, type the $ character as the value of
# a parameter in this configuration file. To use the $ character as value,
# type $$ instead. For more information, read the "Store sensitive plugin data
# securely" section in the Tutorial document.

[credential_store]
# Name of the local credential store configured in SPS for hosting sensitive
# configuration data. For more information, read the "Store sensitive
# plugin data securely" section in the Tutorial document.
; name=<name-of-credential-store-policy-that-hosts-sensitive-data>

[logging]
# To configure the log level, enter one of the following values:
# 'debug', 'info', 'warning', 'error', 'critical'
; log_level=info

[https_proxy]
# To set the HTTPS proxy environment for the plugin, configure the following.
; server=<proxy-server-name-or-ip>
; port=3128

[check-in-trigger]
# The check-in-trigger selects when the credentials are checked in. The choices
# are 'session-ended' or 'authentication-completed'. The 'default' parameter
# applies to all protocols, but may be overruled per protocol.
; default=session-ended
; rdp=session-ended
; ssh=session-ended
; telnet=session-ended